<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="$views/css/image.css">
    <link rel="stylesheet" href="$views/css/list.css">
    <link rel="stylesheet" href="$views/css/buttons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
</head>
<body>
<div class="container" id="index" ng-app="SK" ng-controller="homeCtrl">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="header">Skipit</h1>
            <p class="strap">
                Automatically skip tracks that match ...
            </p>
            <div class="well">
                <form role="form">
                    <div class="form-group">
                        <input class="checkbox-inline" ng-model='skipExplicit' id="explicit" type="checkbox" />
                        <label for="explicit">Explicit Language</label>
                    </div>
                    <div class="form-group">
                        <label for="explicit">Artist Genres Includes</label>
                        <input class="form-control" placeholder="Enter a regex to find genres to skip" type="text" ng-model="genreFilter" />
                        <span class="genre btn btn-sm btn-success" ng-show="genreFilter!=null && genreFilter.length>0" ng-repeat="g in filtered()">
                            {{g}}
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="pull-right" id="track-image"></div>
            <div class="pull-right track-summary">{{trackSummary}}</div>
            <div class="pull-right track-genres">{{artistGenres}}</div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="trace">{{trace}}</div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
<script src="/js/skipit.js"></script>
</body>
</html>